* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
    scroll-behavior: smooth;
}

/* Navbar section */

.navbar {
    background: #000000;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar__logo {
    display: flex;
    height: auto;
    width: 70px;
    padding-top: 5px;
    margin-right: 15px;
    align-items: center;
    position: relative;
    height: 100%;
    padding: 15px; 
    width: auto;
    cursor: pointer;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__links {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 100%;
    text-decoration: none;
    transition: all 0,3s ease;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    text-decoration: none;
    border-radius: 4px;
    background: #ffffff;
    color: #000000;
    transition: all 0,3s ease;
}

.navbar__links:hover {
    color: #9e03ff;
    transition: all 0,3s ease;
}

.button:hover {
    color: #ffffff;
    background-color: #9e03ff;
}

/* Navbar Mobile */

@media screen and (max-width: 1280px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px; 
        opacity: 2;
        transition: all 0,5s ease;
        z-index: -1;
        transition: 400ms;
    }
   
    .navbar__menu.active{
        background: #000000;
        top: 100%;
        opacity: 2;
        transition: all 0,5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
        transition: 400ms;
    }
    
    #navbar__logo {
        padding-left: 25px;
    }
    
    .navbar__toogle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0,5s ease-in-out;
        background: #ffffff;
    }
    
    .navbar__item {
        width: 100%;
    }
    
    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    
    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toogle .bar { 
        display: block;
        cursor: pointer;
        transition: 400ms;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
   
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Home Section */

.Home {
    background: #121111;
    padding: 280px 0px;
}

#Home{
    background: url(kevin-mueller-Q-fL04RhuMg-unsplash.jpg);
    background-repeat: no-repeat;
    opacity: 99%;
    background-position: center;
    background-size: cover;
    
    


}

.Home__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.Home__heading{
    font-size: 100px;
    margin-bottom: 10px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

.Home__heading span {
    color: #9e03ff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.Home__description {
    color: #ffffff;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: italic;
}

/* Home Mobile */



@media  screen and (max-width: 1280px) {
    
   
       
        
    
    
    .Home__heading{
        font-size: 60px;
    }
    
    .Home__description{
        font-size: 40px;
    }
}

/* About Section */

.About {
    background-color: #ffffff;
    padding: 280px 0px;
}

.About__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.About__content h1 {
    font-size: 4rem;
    color: #9e03ff;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    margin-bottom: 32px;
}

.About__content h2 {
    font-size: 1.8rem;
    color: #000000;
    font-family: 'Poppins',sans-serif;
    font-weight: 500
}

.About__content p {
    font-size: 1.2rem;
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}


.main__btn {
    font-size: 1.8rem;
    background-color: #ffffff;
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #000000;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #9e03ff;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover:after {
    width: 100%;
}

#About button{
  
    background-color: #000000;
}

#About button a {
    color: #ffffff;
}



.About__img-container {
    margin: 10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(herzogenaurach-adidas-2016.jpg);
    background-repeat: no-repeat;
    background-color: #000000;
    background-position: center;
    background-size: 48rem; 
}

/* About Mobile */

@media screen and (max-width: 1280px) {
    .About__container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90%;
    }

    .About__img-container {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    
    .About__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .About__content h1 {
        font-size: 3rem;
        margin-top: 2rem;
    }

    .About__content h2 {
        font-size: 1.5rem;
    }

    .About__content p {
        margin-top: 2rem;
        font-size: 1rem;
        text-align: justify;
        text-align-last: center;
    }
}

/* Products Section */

.Products {
    background-color: #000000;
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Products h1 {
    color: #ffffff;
    margin-bottom: 5rem;
    font-size: 4rem;
}

.Products__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
}
 
.Products__card {
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #9e03ff;
    background-color: #ffffff;
}

.Products h2 {
    text-align: center;
    font-size: 3rem;
}



.Products__card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
}

#Products button{
    margin-top: 100px;
    display: flex;
    position: center;
    justify-content: center;
    background-color: #ffffff;
    
}

#Products button a {
    color: #000000;
}

/* Products Mobile */

@media screen and (max-width: 1280px) {
    .Products__wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
        .Products__wrapper {
            grid-template-columns: 1fr;
        }
}


/* Footer Section */

.Footer {
    background-color: #9e03ff;
    padding: 40px 0;
}

.Footer__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
}

.Footer__content h1 {
    font-size: 3rem;
    font-weight: lighter;
    margin-top: 20px;
    margin: 20px;
}

.Footer__content span {
    font-weight: 500;
}

.Footer__content h2 {
    font-size: 1.3rem;
    font-weight: lighter;
    margin: 10px;
}

.Footer__content p {
    font-size: 1.2rem;
    padding: 50px;
    font-weight: 100;
}

.Footer__socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.Footer__socials li {
    font-size: 30px;
    margin: 0 10px;
}

.Footer__socials a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
}

.Footer__socials a:hover i {
    color: #000000;
}

/* Footer Mobile */

@media screen and (max-width:1280px) {
    .Footer__content h1 {
        font-size: 2.5rem;
    }
    
    .Footer__content h2 {
        font-size: 1.2rem;
    }

    .Footer__content p {
        font-size: 1.2rem;
    }

    .Footer__socials li {
        font-size: 25px;
    }
}

@media screen and (max-width:768px) {
    .Footer__content h1 {
        font-size: 2rem;
    }
    
    .Footer__content h2 {
        font-size: 1.1rem;
    }

    .Footer__content p {
        font-size: 1rem;
    }

    .Footer__socials li {
        font-size: 20px;
    }
} 